* {
    box-sizing: border-box;
}
img{
    display:block;/*作業修改*/
}

html {
    font-family: 'Roboto', sans-serif;
}

.wrap{
    max-width: 1920px;
    margin: 0 auto;
}

/* 共用 */
.text, .textWhite{
    font-weight: 600;
    line-height: 42px;
    font-size: 24px;
    font-style: italic;
}

.h2White{
    padding-top: 64px;
    color: #fff;
}

.h2Black, .h2White{
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    font-style: italic;
}

.textWhite{
    color: white;
    line-height: 28px;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-16{
    margin-bottom: 16px;
}

.mb-48{
    margin-bottom: 48px;
}
.mb-128{
    margin-bottom: 128px;
}

.mb-24{
    margin-bottom: 24px;
}

/* header */
.header{
    height: 960px;
    background-image: url('https://upload.cc/i1/2020/04/18/dxmw3E.png');
    background-repeat:no-repeat;
    background-position: center center; /*作業修改*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    margin-bottom: 64px;
}

.founder{ /*作業修改*/
    padding-left: 13px;

}

h1{
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;/*作業修改-2*/
    font-style: italic;
    margin-bottom: 32px;/*作業修改-2*/
}

.headContent{  /*作業修改*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;/*作業修改-2*/
    color: white;  
}

.headContent span{/*作業修改*/
    transform: translateX(-120px);
}

.follow{
    width: 288px;/*作業修改*/
    display: flex;
    justify-content: space-between;
}

/* about */
.about{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.aboutInfo{
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 8px;
    font-style: italic;
    font-weight: 600;

}
.about h2{
    margin-bottom: 40px;   
}

.about img{
    margin-bottom: 24px;/*作業修改-2*/
}

.resume{
    display: flex;
    flex-direction: column;
    text-align: center;

}

.about ul span{/*作業修改*/
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    margin-bottom: 21px;
}

.about hr{
    width: 384px;
    margin-bottom: 31px;
}

.dot{
    position: relative;
    line-height: 32px;
    margin-bottom: 32px;
}

.dot::before{
    content: "";
	position: absolute;
	width: 22px;
	height: 22px;
    background-color: #891818;
    top: 50%;
    transform: translateY(-50%); /*作業修改*/
    border-radius: 50%;
    margin: 0 0 0 -38px; /*作業修改*/
}


/* brand */
.brand{
    background: #000000;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding-bottom: 160px;
}
.brand h2{
    margin-bottom: 16px;
}
.brand span{
    height: 112px;
    line-height: 42px;
}
.brand p{
    margin-bottom: 32px;
}

.brandStory{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.tShirt{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.middle{
    margin: 0 auto;
    margin-bottom: 40px;
}

/*other works*/

.works h2{
    text-align: center;
    margin-bottom: 24px;
    margin-top: 64px;
}

.italic{
    height: 70px;
    line-height: 42px;
    font-style: italic;
}

.portfolio{
    margin: 0 auto;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*ul 往上推，因此與上面那段字的 margin-bottom 48px -> 128px*/
    position: relative;/*作業修改 -2*/
	top:-80px;/*作業修改 -2*/
    
}

.portfolio-bg{  
    background-image: url('https://upload.cc/i1/2020/04/18/xjJKw8.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center; /*作業修改 -2*/
    padding-bottom: 24px; /*作業修改 -2*/
}
.portfolio li p{
    margin-bottom: 56px;
    margin-top: 16px;
}

.portfolio li span{
    font-style: italic;
}
/* footer */

.footer{
    background: black;
    text-align: center;
    padding-bottom: 80px;
}

.footer h2{   
    margin-bottom: 16px;
}

.footer ul{
    line-height: 33px;
}